@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');
@import './setting';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color:  #333;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $backColor;
  color: $primaryColor;
  font-size: 2rem;
  font-family: 'Nunito Sans', sans-serif;
}

.content {
  max-width: 96rem;
  margin: 0 auto;
}

nav {
  margin:  1rem auto 8rem;
  padding: 1rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}

nav > a {
  margin-left: 1.2rem;
}

nav > .logo {
  margin-right: auto;
}

footer {
  display: block;
  padding: 3rem 0;
  text-align: center;
  margin-top: 6rem;
  color: #777;
  border-bottom: 1px solid #eaeaea;
}

